  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:89vw;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-weight: 900;
  }
  
  .icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  
  .icon-f {
    margin: 5px;
    cursor: pointer;
  }
  
  @media (min-width: 1200px) {
    .col-sm{
      font-size: 15px;
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .col-sm{
      font-size:10px;
      width: 100%;
    }
  }