  .home-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .box-home {
    max-height: 100%;
    font-size: 70px;
    font-weight: 300;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .box-home .span1 {
    font-weight: 600;
  } 
  
  .footer {
    margin-top: 120px;
  }

  @media (min-width: 1200px) {
    .home-container {
      width:89vw;
      height: 110vh;
      margin-left: 150px;
    }
  }
  
  @media (max-width:600px) {
    .home-container {
      display: grid;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      min-height: 90vh;
    }
    .box-home {
      font-size: 40px;
      margin-left: 0px;
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }